<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<!-- Override default start page -->
	<welcome-file-list>
		<welcome-file>/jsp/index.jsp</welcome-file>
	</welcome-file-list>


	<!-- The Mentawai controller -->
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>org.mentawai.core.Controller</servlet-class>
		<init-param>
			<param-name>applicationManager</param-name>
			<param-value>org.menta.AppManager</param-value>
			<!-- param-value>org.menta.HibernateAppManager</param-value -->
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Listener to grag context path at startup -->
	<listener>
		<listener-class>org.mentawai.core.ContextPathGrabber</listener-class>
	</listener>

	<!-- You must choose an extension to indicate a mentawai action -->
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>*.mtw</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>DebugFilter</filter-name>
		<filter-class>org.mentawai.util.DebugServletFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>DebugFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

</web-app>